<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="static/about-logo.png" sizes="192x192" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

    <title>Billing Data</title>
    <style>
    table {
    border-collapse: collapse;
    width: 100%;
    font-size:xx-small;
    table-layout: fixed;
    margin-top: -10px;
    
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
th, td {
    border: 1px solid #000000;
    
    text-align: left;
    padding: 8px;
}

th {
    background-color: #e1dede;
}


th, td {
    width: 63px; 
}



.table1 {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    margin: 10px auto;
}

.table1 th, .table1 td {
    border: 1px solid #000000;
    text-align: center; /* จัดตำแหน่งตรงกลาง */
    padding: 8px;
}

.table1 th {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

@media (max-width: 768px) {
    .table1 {
        width: 100%;
    }
}
.table-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .table {
    width: 100%; /* Adjust the width as needed */
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 10px auto; /* Center-align the table */
}

        @media (max-width: 768px) {
            .table {
                width: 100%;
            }
        }
    </style>

    
</head>




<body>
    <div class="main2" id="main2" >
        <img class="imgpttlogo"
            src="https://cdn.discordapp.com/attachments/1171333981678080060/1186970967554134066/logo_PTT_3.png?ex=65952fdb&is=6582badb&hm=054c500f83a375c30361f6389ff1c61891735f0e44b85cf7dc67bcc0f3055583&"
            alt="AMR Logo" />
            <h2>Billing data</h2>

            <form method="get" action="{{ url_for('billing_data') }}">
            <label for="tag_dropdown">Select Region :</label>
            <select id="region_dropdown" name="region_dropdown">
                <option value="" {% if not selected_region %}selected{% endif %}>All</option>
                {% for region in region_options %}
                <option value="{{ region }}" {% if selected_region==region %}selected{% endif %}>{{ region }}</option>
                {% endfor %}
            </select>
            <label for="tag_dropdown">Select Site :</label>
            <select id="tag_dropdown" name="tag_dropdown">
                <option value="" {% if not selected_tag %}selected{% endif %}>All</option>
                {% for tag in tag_options %}
                <option value="{{ tag }}" {% if selected_tag==tag %}selected{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>
            <label for="date_picker">Select Date :</label>
            <input type="text" id="date_picker" name="date_dropdown" value="{{ selected_date }}" autocomplete="off">

            

            

            <button class="btn btn-primary custom-btn" type="submit" name="query_type" value="daily_data">Daily Data</button>
            <button class="btn btn-primary custom-btn" type="submit" name="query_type" value="config_data">Config Data</button>
            <button class="btn btn-secondary custom-btn" type="button" onclick="clearFilters()">Clear Filters</button>
            
        </form>
    </div>  
        <!-- Warning message container -->
        
        <div class="table-container">
            {% if tables.get('daily_data_run1') %}
                <div class="table" id="table1">
                    <h5>Run 1: {{ selected_tag }}</h5>
                    {{ tables['daily_data_run1']|safe }}
                </div>
            {% endif %}
        
            {% if tables.get('daily_data_run2') %}
                <div class="table" id="table2">
                    <h5>Run 2: {{ selected_tag }}</h5>
                    {{ tables['daily_data_run2']|safe }}
                </div>
            {% endif %}
        
            {% if tables.get('daily_data_run3') %}
                <div class="table" id="table3">
                    <h5>Run 3: {{ selected_tag }}</h5>
                    {{ tables['daily_data_run3']|safe }}
                </div>
            {% endif %}
        
            {% if tables.get('daily_data_run4') %}
                <div class="table" id="table4">
                    <h5>Run 4: {{ selected_tag }}</h5>
                    {{ tables['daily_data_run4']|safe }}
                </div>
            {% endif %}
        </div>
        
        
        
        
    
        
    
        
        

        
        



        <div class="table-container1">
            {% if tables.get('config_data_run1') %}
                <div class="table" id="table1">
                    <h5>Run 1: {{ selected_tag }}</h5>
                    <table class="table1">
                        <!-- The following line combines thead and tbody into a single block -->
                        <thead >
                            <tr >
                                {% for key, value in dropped_columns_data[0].items() %}
                                    <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {{ tables['config_data_run1']|safe }}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        
        
        
        
            {% if tables.get('config_data_run2') %}
            <div class="table" id="table1">
                <h5>Run 2: {{ selected_tag }}</h5>
                <table class="table1">
                    <!-- The following line combines thead and tbody into a single block -->
                    <thead >
                        <tr >
                            {% for key, value in dropped_columns_data[0].items() %}
                                <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {{ tables['config_data_run2']|safe }}
                    </tbody>
                </table>
            </div>
        {% endif %}

        {% if tables.get('config_data_run3') %}
        <div class="table" id="table1">
            <h5>Run 3: {{ selected_tag }}</h5>
            <table class="table1">
                <!-- The following line combines thead and tbody into a single block -->
                <thead >
                    <tr >
                        {% for key, value in dropped_columns_data[0].items() %}
                            <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {{ tables['config_data_run3']|safe }}
                </tbody>
            </table>


        </div>
    {% endif %}

    {% if tables.get('config_data_run4') %}
    <div class="table" id="table1">
        <h5>Run 4: {{ selected_tag }}</h5>
        <table class="table1">
            <!-- The following line combines thead and tbody into a single block -->
            <thead >
                <tr >
                    {% for key, value in dropped_columns_data[0].items() %}
                        <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {{ tables['config_data_run4']|safe }}
            </tbody>
        </table>
    </div>
{% endif %}
{% if tables.get('config_data_run5') %}
<div class="table" id="table1">
    <h5>Run 5: {{ selected_tag }}</h5>
    <table class="table1">
        <!-- The following line combines thead and tbody into a single block -->
        <thead >
            <tr >
                {% for key, value in dropped_columns_data[0].items() %}
                    <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ tables['config_data_run5']|safe }}
        </tbody>
    </table>
</div>
{% endif %}
{% if tables.get('config_data_run6') %}
<div class="table" id="table1">
    <h5>Run 6: {{ selected_tag }}</h5>
    <table class="table1">
        <!-- The following line combines thead and tbody into a single block -->
        <thead >
            <tr >
                {% for key, value in dropped_columns_data[0].items() %}
                    <th style="border-bottom: 1px solid #000000;">{{ value }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {{ tables['config_data_run6']|safe }}
        </tbody>
    </table>
</div>
{% endif %}
       
       
            
        </div>
    
<body>

    <!-- </script>
    <img class="imgpttlogo1" src="https://jobbkk.com/upload/employer/0E/43E/00643E/images/25662.png" class="footer">
    <p>&copy; Copyright All Rights Reserved By 🤖 TEAM AMR PROMPT </p>
    </script> -->









    </script>
   
        <script>


    // Wait for the document to be ready
    $(document).ready(function () {
        $('#date_picker').datepicker({
            format: 'mm/yyyy',
            startView: 'months',
            minViewMode: 'months',
            autoclose: true
        });
    });

    function clearFilters() {
        $('#date_picker').val('');
        $('#tag_dropdown').val('');
        $('#region_dropdown').val('');
        $('form').submit();
    }

    $(document).ready(function () {
        // Event listener for region dropdown change
        $('#region_dropdown').change(function () {
            console.log('Region dropdown changed');
            var selectedRegion = $(this).val();

            $.ajax({
                type: 'GET',
                url: '/get_tags',
                data: { 'selected_region': selectedRegion },
                success: function (response) {
                    console.log('Ajax request successful', response);

                    // Clear existing options in the tag dropdown
                    $('#tag_dropdown').empty();

                    // Add the 'All' option
                    $('#tag_dropdown').append('<option value="" selected>All</option>');

                    // Add new tag options based on the response
                    for (var i = 0; i < response.tag_options.length; i++) {
                        var tag = response.tag_options[i];
                        $('#tag_dropdown').append('<option value="' + tag + '">' + tag + '</option>');
                    }
                },
                error: function (error) {
                    console.log('Error fetching tag options:', error);
                }
            });
        });
    });
</script>

            </script>
            <script>


                // Wait for the document to be ready
                $(document).ready(function () {
                    $('#date_picker').datepicker({
                        format: 'mm/yyyy',
                        startView: 'months',
                        minViewMode: 'months',
                        autoclose: true
                    });
                });


            function clearFilters() {
                $('#date_picker').val('');
                $('#tag_dropdown').val('');
                $('#region_dropdown').val('');
                $('form').submit();
            }

            $(document).ready(function () {
                // Event listener for region dropdown change
                $('#region_dropdown').change(function () {
                    console.log('Region dropdown changed');
                    var selectedRegion = $(this).val();

                    $.ajax({
                        type: 'GET',
                        url: '/get_tags',
                        data: { 'selected_region': selectedRegion },
                        success: function (response) {
                            console.log('Ajax request successful', response);

                            // Clear existing options in the tag dropdown
                            $('#tag_dropdown').empty();

                            // Add the 'All' option
                            $('#tag_dropdown').append('<option value="" selected>All</option>');

                            // Add new tag options based on the response
                            for (var i = 0; i < response.tag_options.length; i++) {
                                var tag = response.tag_options[i];
                                $('#tag_dropdown').append('<option value="' + tag + '">' + tag + '</option>');
                            }
                        },
                        error: function (error) {
                            console.log('Error fetching tag options:', error);
                        }
                    });
                });
            });
        </script>

</body>

</html>

<script>
    function clearForm() {
        // เรียกใช้ฟังก์ชันที่เคลียร์ฟอร์ม
        document.getElementById('inputRegion').value = '';
        document.getElementById('inputSite').value = '';
        document.getElementById('datepicker').value = '';

        document.getElementById('warningContainer').style.display = 'none';
        document.getElementById('searchedRegion').textContent = '';
        document.getElementById('searchedSite').textContent = '';
        document.getElementById('searchedDate').textContent = '';

        // เคลียร์ตารางผลลัพธ์การค้นหา
        var tableBody = document.querySelector('.styled-table tbody');
        tableBody.innerHTML = '';
    }
</script>

