<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit site</title>

</head>

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    nav {
        background-color: #eee;
        padding: 10px;
    }

    nav a {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none;
        color: #333;
        font-weight: bold;
        padding: 5px;
        border-radius: 5px;
        background-color: #fff;
    }

    nav a:hover {
        background-color: #dd2d;
    }

    .hidden {
        display: none;

    }



    /* textbox */

    /* General styling for all textboxes */
    .textbox-container {
        margin-bottom: 10px;

    }

    .textbox-pair {
        margin-bottom: 3px;
    }

    input[type="text"] {
        width: 200px;
        /* Adjust the width as needed */
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
        box-sizing: border-box;
    }

    @keyframes oscillate {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .enable-container {
        margin-bottom: 10px;
        /* Add some space between containers */
        animation: alternate-reverse;
        /* Apply the oscillation animation */
    }

    /* Additional styling for labels and checkboxes */
    label {
        margin-right: 5px;
    }

    input[type="checkbox"] {
        margin-left: 5px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .label {
        display: inline-block;
        width: 150px;
        /* Adjust the width as needed */
        text-align: left;
        /* Align label text to the right */
        margin-right: 10px;
        /* Add some margin between label and dropdown */
    }

    .input-select {
        width: 200px;
        /* Adjust the width as needed */
    }



    /* Adjust the width as needed */
</style>

<header>
    <h1>AMR</h1>
</header>
<a href="{{ url_for('logout') }}">Logout</a>
<br>
<a href="{{ url_for('home') }}">home</a>

<body>
    <form method="GET" action="{{ url_for('edit_site') }}">
        <div class="container">
            <label for="region_dropdown">Select Region:</label>
            <select id="region_dropdown" name="region_dropdown">
                <option value {% if not selected_region %}selected{% endif %}>All</option>
                {% for region in region_options %}
                <option value="{{ region }}" {% if selected_region==region %}selected{% endif %}>{{ region
                    }}
                </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary">View</button>
            <label for="tag_dropdown">Select Site:</label>
            <select id="tag_dropdown" name="tag_dropdown">
                <option value {% if not selected_tag %}selected{% endif %}>All</option>
                {% for tag in tag_options %}
                <option value="{{ tag }}" {% if selected_tag==tag %}selected{% endif %}>{{ tag }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn btn-primary">Edit</button>


            <!-- Display tag_id -->
            {% if selected_tag %}

            <!-- Display HTML table -->
            {% if html_table %}
            {{ html_table|safe }}
            {% endif %}
            <br><br>

            <label for="tag_id">Tag ID:</label>
            <input type="text" id="tag_id" name="tag_id" value="{{ list_tag_id }}" required class="input-select"><br>

            <label for="cust_factory_name">Cust factory name:</label>
            <input type="text" id="cust_factory_name" name="cust_factory_name" value="{{ list_cust_factory_name }}"
                required class="input-select"><br>

            <label for="amr_phase">PHASE:</label>
            <input type="text" id="amr_phase" name="amr_phase" value="{{ list_amr_phase }}" required
                class="input-select"><br>

            <label for="rtu_modbus_id">RTU MODBUSE:</label>
            <input type="text" id="rtu_modbus_id" name="rtu_modbus_id" value="{{ list_rtu_modbus_id }}" required
                class="input-select"><br>

            <label for="sim_ip">IP ADDRESS:</label>
            <input type="text" id="sim_ip" name="sim_ipe" value="{{ list_sim_ip }}" required class="input-select"><br>

            <label for="user_name">USERNAME:</label>
            <input type="text" id="user_name" name="user_name" value="{{ list_user_name }}" required
                class="input-select"><br>

            <label for="password">PASSWORD:</label>
            <input type="text" id="password" name="password" value="{{ list_password }}" required
                class="input-select"><br>

            <table border="1" align="">
                <thead>
                    <tr>
                        <th>NO.</th>
                        <th>TYPE</th>
                        <th>PORT</th>
                        <th>AUTO</th>
                        <th>WRITE</th>
                        <th>PROFILE</th>
                    </tr>

                    <tr>
                        <td>0</td>
                        <td>RMIU</td>
                        <td>&nbsp;</td>
                        <td> <input type="checkbox" name="enable0" value="1" checked="CHECKED">
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>


                <tbody>
                    {% if list_meter_stream_no is not none %}
                    {% for index in range(0, list_meter_stream_no|length) %}
                    <tr>
                        <td>{{ list_meter_stream_no[index] }}</td>
                        <td>
                            <!-- <select name="meterType{{ index }}"> -->
                            <select id="text" name="list_meter_stream_type">

                                <option value="7" {% if list_meter_stream_type[index]=='Elster EK-220' %} selected {%
                                    endif %}>
                                    Elster EK-220
                                </option>

                                <option value="1" {% if list_meter_stream_type[index]=='Instromet 999' %} selected {%
                                    endif %}>
                                    Instromet 999</option>

                                <option value="2" {% if list_meter_stream_type[index]=='Instromet 555' %} selected {%
                                    endif %}>
                                    Instromet 555
                                </option>

                                <option value="3" {% if list_meter_stream_type[index]=='Gas Micro' %} selected {% endif
                                    %}>
                                    Gas Micro</option>

                                <option value="4" {% if list_meter_stream_type[index]=='Rockwell' %} selected {% endif
                                    %}>
                                    Rockwell
                                </option>

                                <option value="5" {% if list_meter_stream_type[index]=='Actaris(G1)' %} selected {%
                                    endif %}>
                                    Actaris(G1)</option>

                                <option value="6" {% if list_meter_stream_type[index]=='Mercury' %} selected {% endif
                                    %}>
                                    Mercury
                                </option>

                                <option value="8" {% if list_meter_stream_type[index]=='Actaris(G2)' %} selected {%
                                    endif %}>
                                    Actaris(G2)</option>

                                <option value="9" {% if list_meter_stream_type[index]=='Actaris(G3)' %} selected {%
                                    endif %}>
                                    Actaris(G3)
                                </option>

                                <option value="10" {% if list_meter_stream_type[index]=='Actaris(G4)' %} selected {%
                                    endif %}>
                                    Actaris(G4)</option>

                                <option value="11" {% if list_meter_stream_type[index]=='Elster EK-220(u)' %} selected
                                    {% endif %}>
                                    Elster EK-220(u)
                                </option>

                                <option value="12" {% if list_meter_stream_type[index]=='Actaris(u)' %} selected {%
                                    endif %}>
                                    Actaris(u)</option>

                                <option value="13" {% if list_meter_stream_type[index]=='Elster EK-280' %} selected {%
                                    endif %}>
                                    Elster EK-280
                                </option>

                                <option value="14" {% if list_meter_stream_type[index]=='Elster EK-280(u)' %} selected
                                    {% endif %}>
                                    Elster EK-280(u)</option>

                            </select>
                        </td>

                        <td>
                            <!-- <select name="port{{ index }}"> -->
                            <select id="text" name="list_meter_port_no">

                                <!-- <option value="1" selected>{{ list_meter_port_no[index] }}
                                </option> -->

                                <option value="1" {% if list_meter_port_no[index]=='2402' %} selected {% endif %}>
                                    Viola Port no.1</option>

                                <option value="2" {% if list_meter_port_no[index]=='2404' %} selected {% endif %}>
                                    Viola Port no.2</option>

                                <option value="3" {% if list_meter_port_no[index]=='2101' %} selected {% endif %}>
                                    Viola + Digi Port no. 1</option>

                                <option value="4" {% if list_meter_port_no[index]=='2102' %} selected {% endif %}>
                                    Viola + Digi Port no. 2</option>

                                <option value="5" {% if list_meter_port_no[index]=='2103' %} selected {% endif %}>
                                    Viola + Digi Port no. 3</option>

                                <option value="6" {% if list_meter_port_no[index]=='2104' %} selected {% endif %}>
                                    Viola + Digi Port no. 4</option>

                                <option value="7" {% if list_meter_port_no[index]=='4001' %} selected {% endif %}>
                                    Viola + Moxa Port no. 1</option>

                                <option value="8" {% if list_meter_port_no[index]=='4002' %} selected {% endif %}>
                                    Viola + Moxa Port no. 2</option>

                                <option value="9" {% if list_meter_port_no[index]=='4003' %} selected {% endif %}>
                                    Viola + Moxa Port no. 3</option>

                                <option value="10" {% if list_meter_port_no[index]=='4004' %} selected {% endif %}>
                                    Viola + Moxa Port no. 4</option>

                                <option value="11" {% if list_meter_port_no[index]=='4001' %} selected {% endif %}>
                                    Tbox + Moxa Port no. 1</option>

                                <option value="12" {% if list_meter_port_no[index]=='4002' %} selected {% endif %}>
                                    Tbox + Moxa Port no. 2</option>

                                <option value="13" {% if list_meter_port_no[index]=='4003' %} selected {% endif %}>
                                    Tbox + Moxa Port no. 3</option>

                                <option value="14" {% if list_meter_port_no[index]=='4004' %} selected {% endif %}>
                                    Tbox + Moxa Port no. 4</option>

                                <option value="15" {% if list_meter_port_no[index]=='1' %} selected {% endif %}>
                                    Micro AMR Port no. 1</option>

                                <option value="16" {% if list_meter_port_no[index]=='2' %} selected {% endif %}>
                                    Micro AMR Port no. 2</option>

                                <option value="17" {% if list_meter_port_no[index]=='3' %} selected {% endif %}>
                                    Micro AMR Port no. 3</option>

                                <option value="18" {% if list_meter_port_no[index]=='4' %} selected {% endif %}>
                                    Micro AMR Port no. 4</option>



                            </select>
                        </td>

                        <td>
                            <input name="enable{{ index }}" type="checkbox" value="1" checked="CHECKED">

                        </td>
                        <td>
                            <input name="writeenable{{ index }}" type="checkbox" value="1">
                        </td>
                        <td>
                            <select name="profile{{ index }}">
                                <option value="0">-----none-----</option>
                                <option value="0" selected="">PROFILE_NAME</option>
                                <option value="1">QC740</option>
                                <option value="2">QC741</option>
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>

            </table>





            <!-- <table border="1" align="">
                <tbody>
                    <tr>
                        <th>NO.</th>
                        <th>TYPE</th>
                        <th>PORT</th>
                        <th>AUTO</th>
                        <th>WRITE</th>
                        <th>PROFILE</th>
                    </tr>


                    <tr>
                        <td>0</td>
                        <td>RMIU</td>
                        <td>&nbsp;</td>
                        <td> <input type="checkbox" name="enable0" value="1" checked="CHECKED">
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td><select name="meterType1">
                                <option value="7">Elster EK-220
                                </option>
                                <option value="1">Instromet 999</option>
                                <option value="2">Instromet 555</option>
                                <option value="3">Gas Micro</option>
                                <option value="4">Rockwell</option>
                                <option value="5">Actaris(G1)</option>
                                <option value="6">Mercury</option>
                                <option value="8">Actaris(G2)</option>
                                <option value="9">Actaris(G3)</option>
                                <option value="10">Actaris(G4)</option>
                                <option value="11">Elster EK-220(u)</option>
                                <option value="12">Actaris(u)</option>
                                <option value="13" selected="">Elster EK-280</option>
                                <option value="14">Elster EK-280(u)</option>

                            </select></td>
                        <td>
                            <select name="port1">
                                <option value="1">Viola Port no.1</option>
                                <option value="2">Viola Port no.2</option>
                                <option value="3">Viola + Digi Port no. 1</option>
                                <option value="4">Viola + Digi Port no. 2</option>
                                <option value="5">Viola + Digi Port no. 3</option>
                                <option value="6">Viola + Digi Port no. 4</option>
                                <option value="7">Viola + Moxa Port no. 1</option>
                                <option value="8">Viola + Moxa Port no. 2</option>
                                <option value="9">Viola + Moxa Port no. 3</option>
                                <option value="10">Viola + Moxa Port no. 4</option>
                                <option value="11">Tbox + Moxa Port no. 1</option>
                                <option value="12">Tbox + Moxa Port no. 2</option>
                                <option value="13">Tbox + Moxa Port no. 3</option>
                                <option value="14">Tbox + Moxa Port no. 4</option>
                                <option value="15">Micro AMR Port no. 1</option>
                                <option value="16">Micro AMR Port no. 2</option>
                                <option value="17">Micro AMR Port no. 3</option>
                                <option value="18">Micro AMR Port no. 4</option>
                            </select>
                        </td>
                        <td>
                            <input name="enable1" type="checkbox" value="1" checked="CHECKED">
                        </td>

                        <td>
                            <input name="writeenable1" type="checkbox" value="1">
                        </td>

                        <td><select name="profile1">
                                <option value="0">-----none-----</option>
                                <option value="0" selected="">PROFILE_NAME</option>
                                <option value="1">QC740</option>
                                <option value="2">QC741</option>

                            </select></td>

                    </tr>
                    <tr>
                        <td>2</td>
                        <td><select name="meterType2">
                                <option value="7">Elster EK-220
                                </option>
                                <option value="1">Instromet 999</option>
                                <option value="2">Instromet 555</option>
                                <option value="3">Gas Micro</option>
                                <option value="4">Rockwell</option>
                                <option value="5">Actaris(G1)</option>
                                <option value="6">Mercury</option>
                                <option value="8">Actaris(G2)</option>
                                <option value="9">Actaris(G3)</option>
                                <option value="10">Actaris(G4)</option>
                                <option value="11">Elster EK-220(u)</option>
                                <option value="12">Actaris(u)</option>
                                <option value="13" selected="">Elster EK-280</option>
                                <option value="14">Elster EK-280(u)</option>

                            </select></td>
                        <td>
                            <select name="port2">
                                <option value="1">Viola Port no.1</option>
                                <option value="2">Viola Port no.2</option>
                                <option value="3">Viola + Digi Port no. 1</option>
                                <option value="4">Viola + Digi Port no. 2</option>
                                <option value="5">Viola + Digi Port no. 3</option>
                                <option value="6">Viola + Digi Port no. 4</option>
                                <option value="3">Tbox + Digi Port no. 1</option>
                                <option value="4">Tbox + Digi Port no. 2</option>
                                <option value="5">Tbox + Digi Port no. 3</option>
                                <option value="6">Tbox + Digi Port no. 4</option>
                                <option value="7">Viola + Moxa Port no. 1</option>
                                <option value="8" selected="">Viola + Moxa Port no. 2</option>
                                <option value="9">Viola + Moxa Port no. 3</option>
                                <option value="10">Viola + Moxa Port no. 4</option>
                                <option value="11">Tbox + Moxa Port no. 1</option>
                                <option value="12">Tbox + Moxa Port no. 2</option>
                                <option value="13">Tbox + Moxa Port no. 3</option>
                                <option value="14">Tbox + Moxa Port no. 4</option>
                                <option value="15">Micro AMR Port no. 1</option>
                                <option value="16">Micro AMR Port no. 2</option>
                                <option value="17">Micro AMR Port no. 3</option>
                                <option value="18">Micro AMR Port no. 4</option>
                            </select>
                        </td>
                        <td>
                            <input name="enable2" type="checkbox" value="1" checked="CHECKED">
                        </td>

                        <td>
                            <input name="writeenable2" type="checkbox" value="1">
                        </td>

                        <td><select name="profile2">
                                <option value="0">-----none-----</option>
                                <option value="0">PROFILE_NAME</option>
                                <option value="1">QC740</option>
                                <option value="2">QC741</option>

                            </select></td>

                    </tr>
                    <tr>
                        <td>3</td>
                        <td><select name="meterType3">
                                <option value="7">Elster EK-220
                                </option>
                                <option value="1">Instromet 999</option>
                                <option value="2">Instromet 555</option>
                                <option value="3">Gas Micro</option>
                                <option value="4">Rockwell</option>
                                <option value="5">Actaris(G1)</option>
                                <option value="6">Mercury</option>
                                <option value="8">Actaris(G2)</option>
                                <option value="9" selected="">Actaris(G3)</option>
                                <option value="10">Actaris(G4)</option>
                                <option value="11">Elster EK-220(u)</option>
                                <option value="12">Actaris(u)</option>
                                <option value="13">Elster EK-280</option>
                                <option value="14">Elster EK-280(u)</option>

                            </select></td>
                        <td>
                            <select name="port3">
                                <option value="1">Viola Port no.1</option>
                                <option value="2">Viola Port no.2</option>
                                <option value="3">Viola + Digi Port no. 1</option>
                                <option value="4">Viola + Digi Port no. 2</option>
                                <option value="5">Viola + Digi Port no. 3</option>
                                <option value="6">Viola + Digi Port no. 4</option>
                                <option value="3">Tbox + Digi Port no. 1</option>
                                <option value="4">Tbox + Digi Port no. 2</option>
                                <option value="5">Tbox + Digi Port no. 3</option>
                                <option value="6">Tbox + Digi Port no. 4</option>
                                <option value="7">Viola + Moxa Port no. 1</option>
                                <option value="8">Viola + Moxa Port no. 2</option>
                                <option value="9" selected="">Viola + Moxa Port no. 3</option>
                                <option value="10">Viola + Moxa Port no. 4</option>
                                <option value="11">Tbox + Moxa Port no. 1</option>
                                <option value="12">Tbox + Moxa Port no. 2</option>
                                <option value="13">Tbox + Moxa Port no. 3</option>
                                <option value="14">Tbox + Moxa Port no. 4</option>
                                <option value="15">Micro AMR Port no. 1</option>
                                <option value="16">Micro AMR Port no. 2</option>
                                <option value="17">Micro AMR Port no. 3</option>
                                <option value="18">Micro AMR Port no. 4</option>
                            </select>
                        </td>
                        <td>
                            <input name="enable3" type="checkbox" value="1" checked="CHECKED">
                        </td>

                        <td>
                            <input name="writeenable3" type="checkbox" value="1">
                        </td>

                        <td><select name="profile3">
                                <option value="0">-----none-----</option>
                                <option value="0">PROFILE_NAME</option>
                                <option value="1">QC740</option>
                                <option value="2">QC741</option>

                            </select></td>

                    </tr>
                    <tr>
                        <td>4</td>
                        <td><select name="meterType4">
                                <option value="7">Elster EK-220
                                </option>
                                <option value="1">Instromet 999</option>
                                <option value="2">Instromet 555</option>
                                <option value="3">Gas Micro</option>
                                <option value="4">Rockwell</option>
                                <option value="5">Actaris(G1)</option>
                                <option value="6">Mercury</option>
                                <option value="8">Actaris(G2)</option>
                                <option value="9" selected="">Actaris(G3)</option>
                                <option value="10">Actaris(G4)</option>
                                <option value="11">Elster EK-220(u)</option>
                                <option value="12">Actaris(u)</option>
                                <option value="13">Elster EK-280</option>
                                <option value="14">Elster EK-280(u)</option>

                            </select></td>
                        <td>
                            <select name="port4">
                                <option value="1">Viola Port no.1</option>
                                <option value="2">Viola Port no.2</option>
                                <option value="3">Viola + Digi Port no. 1</option>
                                <option value="4">Viola + Digi Port no. 2</option>
                                <option value="5">Viola + Digi Port no. 3</option>
                                <option value="6">Viola + Digi Port no. 4</option>
                                <option value="3">Tbox + Digi Port no. 1</option>
                                <option value="4">Tbox + Digi Port no. 2</option>
                                <option value="5">Tbox + Digi Port no. 3</option>
                                <option value="6">Tbox + Digi Port no. 4</option>
                                <option value="7">Viola + Moxa Port no. 1</option>
                                <option value="8">Viola + Moxa Port no. 2</option>
                                <option value="9">Viola + Moxa Port no. 3</option>
                                <option value="10" selected="">Viola + Moxa Port no. 4</option>
                                <option value="11">Tbox + Moxa Port no. 1</option>
                                <option value="12">Tbox + Moxa Port no. 2</option>
                                <option value="13">Tbox + Moxa Port no. 3</option>
                                <option value="14">Tbox + Moxa Port no. 4</option>
                                <option value="15">Micro AMR Port no. 1</option>
                                <option value="16">Micro AMR Port no. 2</option>
                                <option value="17">Micro AMR Port no. 3</option>
                                <option value="18">Micro AMR Port no. 4</option>
                            </select>
                        </td>
                        <td>
                            <input name="enable4" type="checkbox" value="1" checked="CHECKED">
                        </td>

                        <td>
                            <input name="writeenable4" type="checkbox" value="1">
                        </td>

                        <td><select name="profile4">
                                <option value="0">-----none-----</option>
                                <option value="0">PROFILE_NAME</option>
                                <option value="1">QC740</option>
                                <option value="2">QC741</option>

                            </select></td>

                    </tr>
                </tbody>
            </table> -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>

            {% endif %}





        </div>
    </form>


    <script>
        $(document).ready(function () {
            $('#region_dropdown').change(function () {
                var region_id = $(this).val();
                $.ajax({
                    url: '/get_tags', // เปลี่ยนเป็น URL ที่เรียกใช้งานฟังก์ชันใน Flask ที่สร้างขึ้นสำหรับการดึง TAGs
                    data: { 'region_id': region_id },
                    success: function (data) {
                        $('#tag_dropdown').empty();
                        $.each(data.tags, function (index, tag) {
                            $('#tag_dropdown').append('<option value="' + tag + '">' + tag + '</option>');
                        });
                    }
                });
            });
        });
    </script>

</body>

</html>