<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
       
    </ul>

    <a href="{{ url_for('add_user_route') }}">Add User</a>
   
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flash-messages">
        {% for message in messages %}
          <li class="{{ message[1] }}">{{ message[0] }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
    
</body>
</html>
