<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>

   <style>
    .flash-messages .success {
        color: green;
        font-weight: bold;
    }
    
    /* Styling for error messages */
    .flash-messages .error {
        color: red;
        font-weight: bold;
    }
   </style>
    
</head>
<body> 
    <a href="{{ url_for('add_user_route') }}">Add User</a><br>
    <a href="{{ url_for('edit_user_route') }}">Edit User</a><br>
    
   <!-- Inside your HTML template -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="flash-messages">
        {% for message in messages %}
            <li class="{{ message.category }}">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <h1>User List</h1>
    <ul>
        Display user list here 
       {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul> 

   
    
</body>
</html>
