<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    
    <title>Your Title</title>
</head>
<body>

<form method="get" action="/">
    <label for="date_picker">Select Date:</label>
    <input type="text" id="date_picker" name="date_dropdown" value="{{ selected_date }}" autocomplete="off">


    <label for="tag_dropdown">Select Tag:</label>
<select id="tag_dropdown" name="tag_dropdown">
    <option value="" {% if not selected_tag %}selected{% endif %}>All</option>
    {% for tag in tag_options %}
        <option value="{{ tag }}" {% if selected_tag == tag %}selected{% endif %}>{{ tag }}</option>
    {% endfor %}
</select>


    <select id="region_dropdown" name="region_dropdown">
        <option value="" {% if not selected_region %}selected{% endif %}>All</option>
        {% for region in region_options %}
            <option value="{{ region }}" {% if selected_region == region %}selected{% endif %}>{{ region }}</option>
        {% endfor %}
    </select>
    
    <button type="submit">Apply Filters</button>
    <button type="button" onclick="clearFilters()">Clear Filters</button>
</form>

{{ tables[0]|safe }}  {# Assuming tables is a list with a single element containing the table HTML #}



<script>
    // Wait for the document to be ready
    $(document).ready(function() {
        $('#date_picker').datepicker({
            format: 'mm/yyyy',
            startView: 'months',
            minViewMode: 'months',
            autoclose: true
        });
    });

    function clearFilters() {
        $('#date_picker').val('');
        $('#tag_dropdown').val('');
        $('#region_dropdown').val('');
        $('form').submit();
    }

    $(document).ready(function(){
    // Event listener for region dropdown change
    $('#region_dropdown').change(function(){
        // Get the selected region value
        var selectedRegion = $(this).val();

        // Make an Ajax request to get updated tag options based on the selected region
        $.ajax({
            type: 'GET',
            url: '/get_tags',
            data: {'selected_region': selectedRegion},
            success: function(response){
                // Sort tag options alphabetically starting from 'a'
                response.tag_options.sort(function(a, b) {
                    return a.localeCompare(b);
                });

                // Update tag dropdown options
                var tagDropdown = $('#tag_dropdown');
                tagDropdown.empty();
                $.each(response.tag_options, function(index, tagOption){
                    tagDropdown.append('<option value="' + tagOption + '">' + tagOption + '</option>');
                });
            },
            error: function(error){
                console.log('Error fetching tag options:', error);
            }
        });
    });
});
</script>

</body>
</html>