
app.config['DATABASE_USERNAME'] = 'root'  # ชื่อผู้ใช้ของคุณ
app.config['DATABASE_PASSWORD'] = 'root'  # รหัสผ่านของคุณ
app.config['DATABASE_HOSTNAME'] = 'localhost'  # ที่อยู่โฮสต์ของฐานข้อมูล
app.config['DATABASE_PORT'] = '1521'          # พอร์ตของ Oracle database
app.config['DATABASE_SERVICE_NAME'] = 'orcl'  # ชื่อบริการของ Oracle database

app.config['SECRET_KEY'] = ''  # ต้องเปลี่ยนเป็นคีย์จริงในการใช้งานจริ
app.config['SQLALCHEMY_DATABASE_URI'] = 'oracle://username:password@host:port/service_name'
app.config['MAIL_SERVER'] = 
app.config['MAIL_PORT'] = 
app.config['MAIL_USE_TLS'] = 
app.config['MAIL_USERNAME'] = 
app.config['MAIL_PASSWORD'] =

