<!-- index.html -->
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Security System</title>
</head>
<body>
    <div class="container">
        <h1>The password must be changed every 3 months.</h1>
        <form action="/change_password" method="post">
            <label for="current_password">Current Password:</label>
            <input type="password" id="current_password" name="current_password" required>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <button type="submit">confirm</button>
        </form>

        {% if notification %}
            <div class="notification">
                {{ notification }}
            </div>
        {% endif %}
    </div>
</body>
</html>

<!-- --- Use ---
{% if notification %}
<div class="notification">
    {{ notification }}
</div>
{% endif %} -->