html, body {
    height: 100% !important;
    background-color: rgb(249, 250, 251);
}

body {
    font-family: 'Prompt', sans-serif !important;
}

#__nuxt, #__layout {
    height: 100%;
}

.mx-datepicker {
    position: relative;
    display: inline-block;
    width: 100% !important;
}


[data-placeholder]::after {
	content: " ";
	box-shadow: 0 0 30px 50px rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	animation: load 2s infinite;
}
@keyframes load {
	0% {
		left: -100%;
	}
	100% {
		left: 150%;
	}
}